* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
body {
    font-family: 'Roboto',sans-serif;
    color: rgb(255, 189, 66);
    background-color: rgb(62, 62, 62);
}
a {
    text-decoration: none;
}
#main-header {
    height: 5rem;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
}
#main-header ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}
.logo span {
    font-weight: 300;
}
.nav__links a{
    color: rgb(255, 189, 66);
    font-size: 1.25rem;
    font-weight: bold;
}
.nav__links a:hover {
    color: rgb(255, 208, 120);
}
.logo {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(255, 189, 66);
}

.title {
    margin: 3rem 0;
    font-size: 3rem;
    text-align: center;
}
#latest-products {
    width: 80%;
    margin: 0 auto;
}
.item__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    gap: 3rem;
}
.item__content--text {
    background-color: wheat;
    text-align: center;
    padding: 1em;
    flex: 1;
}
.item__content--text h2 {
    color: rgb(75, 75, 75);
    margin-bottom: 1rem;
}
.images {
    height: 20rem;
    width: 100%;
    object-fit: cover;
}
.btn {
    background-color: rgb(255, 166, 0);
    color: rgb(255, 255, 255);
    padding: 0.5em 1em;
    border-radius: 8px;
}
.btn:hover {
    background-color: rgb(252, 194, 87);
}
.item__content{
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
}
.menu-btn {
    width: 3rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    display: none;
}
.menu-btn span {
    height: 3px;
    width: 100%;
    background-color: white;
}
@media (max-width: 48rem){
    .item__list {
        grid-template-columns: 1fr;
    }
    #main-header .nav__list {
        display: none;
    }
    .menu-btn {
        display: flex;
    }
}
